<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Exprest</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:400;500;600"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
        />
    </head>
    <body>
        <!-- skip-link -->
        <a href="#main-content" class="skip-link">Skip to Content</a>

        <header class="header">
            <button id="menu" class="header__menu" aria-label="button">
                <i class="fas fa-bars"></i>
            </button>

            <!-- <a id="menu" class="header__menu">☰</a> -->

            <div class="header__inner">
                <h1 class="header__title">Exprest</h1>
            </div>

            <a class="header__menu" style="visibility: hidden">☰</a>

            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><h2>Exprest</h2></li>
                    <li class="nav__item"><a href="/">Home</a></li>
                    <li class="nav__item"><a href="#">Favorite</a></li>
                    <li class="nav__item">
                        <a
                            href="https://shidqimlna.github.io/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >About Us</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <section class="hero">
            <div class="hero__overlay">
                <div class="hero__inner">
                    <h1 class="hero__title">Foodies welcome</h1>
                    <p class="hero__tagline">
                        We’ve got something for everyone!
                    </p>
                </div>
            </div>
        </section>

        <main>
            <section class="content">
                <h2 class="content__label">Explore Restaurant</h2>
                <restaurant-list></restaurant-list>
            </section>
        </main>

        <footer>
            <p>Copyright @ 2021 - Exprest</p>
        </footer>
    </body>
</html>
