<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Restaurant Apps Starter Project</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:300;400;500"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <!-- skip-link -->
        <a href="#main-content" class="skip-link">Menuju ke konten</a>

        <header class="header">
            <!-- <a id="menu" class="header__menu" onclick="openNav()">☰</a> -->
            <a id="menu" class="header__menu" onclick="openNav()">☰</a>

            <div class="header__inner">
                <h1 class="header__title">Lipsum</h1>
            </div>

            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/">Home</a></li>
                    <li class="nav__item"><a href="#">Favorite</a></li>
                    <li class="nav__item">
                        <a
                            href="https://shidqimlna.github.io/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >About Us</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <!-- <nav>
            <div class="menu-hp">
                <div>
                    <a href="/" class="logo-font"> Lipsum </a>
                </div>
                <div class="menu-container">
                    <button
                        aria-label="button menu dropdown on mobile"
                        class="menu"
                        type="button"
                    >
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
            </div>

            <a id="menu" class="header-menu">☰</a>

            <ul id="drawer" class="nav nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item">
                    <a
                        href="https://shidqimlna.github.io/"
                        target="_blank"
                        rel="noopener noreferrer"
                        >About Us</a
                    >
                </li>
            </ul>
        </nav> -->

        <!-- <img src="./images/heros/hero.jpg" width="100%" alt="" /> -->
    </body>
</html>
