/* detail */

.btn-fab {
    background-color: var(--navbar-hover);
    position: fixed;
    width: 60px;
    height: 60px;
    right: 1.5rem;
    bottom: 3.7rem;
    border: none;
    border-radius: 50%;
    color: white;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn-fab i {
    font-size: 24px;
}

.detail__thumbnail {
    display: flex;
    width: 100%;
    max-width: 800px;
    border-radius: 1rem;
    margin: 0 auto;
}

.detail__content {
    font-size: 1rem;
}

.detail__title {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s opacity;
}

.detail__title:hover {
    transition: 0.3s;
    color: var(--navbar-hover);
}

.detail__categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__category {
    background-color: var(--navbar-hover);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.detail__info__container {
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-evenly;
}

.detail__info {
    display: flex;
    gap: 1rem;
}

.detail__description {
    margin: 0 0.5rem;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}

.detail__description::after {
    content: '';
    margin: 0.8rem 0;
    display: block;
    border-bottom: 1px solid var(--navbar-hover);
}

.detail__menu_label {
    text-align: center;
}

.detail__menu {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
}

.detail__form::before {
    content: '';
    margin: 0.8rem 0;
    display: block;
    border-bottom: 1px solid var(--navbar-hover);
}

.detail__menu-items {
    display: grid;
}

.detail__form-input {
    width: 100%;
    border: 1px solid var(--navbar-hover);
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-height: 44px;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.detail__form-submit {
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--navbar-hover);
    border-radius: 0.5rem;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.detail__review-list {
    display: flex;
    overflow-x: scroll;
    margin: 0 -0.8rem 0 -1.2rem;
    padding: 0.5rem 0 1rem 1.2rem;
}

.review__item {
    background-color: white;
    border-radius: 0.5rem;
    margin-right: 1rem;
    min-width: 10rem;
    padding: 0.5rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.review__item-date {
    font-size: 0.7rem;
    color: #585858;
}
