:root {
    --font-color: #424242;
    --navbar-color: #616161;
    --navbar-hover: #ea7b0c;
    --dark-white: #f0f0f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--dark-white);
}

button,
a {
    min-width: 44px;
    min-height: 44px;
}

/* Skip link */

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--navbar-color);
    color: white;
    padding: 0.5rem;
    z-index: 10;
}

.skip-link:focus {
    top: 5rem;
}

/* App Bar */

app-bar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.app-bar__inner {
    text-align: center;
    margin: 0 auto;
}

.app-bar__title {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
}

.app-bar__title:hover {
    transition: 0.3s;
    color: var(--navbar-hover);
}

.app-bar__menu {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

/* nav */

.nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav__list {
    padding: 0;
    margin: 0;
}

.nav__item {
    display: inline-block;
}

.nav a {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: var(--navbar-color);
}

.nav a:hover {
    transition: 0.3s;
    text-decoration: underline;
    color: var(--navbar-hover);
}

/* Jumbotron */

.hero {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 380px;
    width: 100%;
    background-image: url('../public/images/heros/hero.jpg');
    background-position: center;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
}

.hero__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero__inner {
    align-self: center;
    text-align: center;
    max-width: 60%;
    position: absolute;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 1.7rem;
}

.hero__tagline {
    color: #fff;
    margin-top: 1.4rem;
    font-size: 1rem;
}

/* main */

main {
    padding-top: 4rem;
}

/* content */

.content {
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.content__label {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

.content__label::after {
    content: '';
    margin-top: 0.5rem;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/* list */

restaurant-list {
    margin: 2rem auto auto;
    text-align: left;
    display: grid;
    grid-row-gap: 2rem;
}

/* item */

.item {
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    overflow: hidden;
    background-color: white;
}

.item a {
    text-decoration: none;
    color: var(--font-color);
}

.item__content {
    padding: 1rem;
}

.item__thumbnail {
    width: 100%;
}

.item__title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.3s opacity;
}

.item__title:hover {
    transition: 0.3s;
    color: var(--navbar-hover);
}

.item__detail__container {
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-evenly;
}

.item__detail {
    display: flex;
    gap: 1rem;
}

.item__description {
    margin-top: 0.5rem;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* footer */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem; /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: white;
    box-shadow: 8px 8px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

/* detail */

.btn-fab {
    background-color: var(--navbar-hover);
    position: fixed;
    width: 60px;
    height: 60px;
    right: 1.5rem;
    bottom: 3.7rem;
    border: none;
    border-radius: 50%;
    color: white;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn-fab i {
    font-size: 24px;
}

.detail__thumbnail {
    display: flex;
    width: 100%;
    max-width: 800px;
    border-radius: 1rem;
    margin: 0 auto;
}

.detail__content {
    font-size: 1rem;
}

.detail__title {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s opacity;
}

.detail__title:hover {
    transition: 0.3s;
    color: var(--navbar-hover);
}

.detail__categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__category {
    background-color: var(--navbar-hover);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.detail__info__container {
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-evenly;
}

.detail__info {
    display: flex;
    gap: 1rem;
}

.detail__description {
    margin: 0 0.5rem;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}

.detail__description::after {
    content: '';
    margin: 0.8rem 0;
    display: block;
    border-bottom: 1px solid var(--navbar-hover);
}

.detail__menu_label {
    text-align: center;
}

.detail__menu {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
}

.detail__form::before {
    content: '';
    margin: 0.8rem 0;
    display: block;
    border-bottom: 1px solid var(--navbar-hover);
}

.detail__menu-items {
    display: grid;
}

.detail__form-input {
    width: 100%;
    border: 1px solid var(--navbar-hover);
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-height: 44px;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.detail__form-submit {
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--navbar-hover);
    border-radius: 0.5rem;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.detail__review-list {
    display: flex;
    overflow-x: scroll;
    margin: 0 -0.8rem 0 -1.2rem;
    padding: 0.5rem 0 1rem 1.2rem;
}

.review__item {
    background-color: white;
    border-radius: 0.5rem;
    margin-right: 1rem;
    min-width: 10rem;
    padding: 0.5rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.review__item-date {
    font-size: 0.7rem;
    color: grey;
}
