@media screen and (min-width: 300px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 499px) {
    .nav {
        z-index: 10;
        background-color: white;
        width: 15rem;
        position: fixed;
        height: 100%;
        left: -1rem;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        -webkit-transform: translate(-15rem, 0);
        transform: translate(-15rem, 0);
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
    }

    .nav__list {
        margin-top: 1rem;
    }

    .nav h2 {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 2rem;
        color: var(--navbar-color);
    }
}

@media screen and (min-width: 500px) {
    .app-bar__menu,
    .nav h2 {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    .item__thumbnail {
        height: 15rem;
    }

    restaurant-list {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .detail__menu-items {
        gap: 0 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .detail__form-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .detail__review-list {
        width: 70%;
    }

    .detail__form-inputcontainer {
        width: 30%;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 16px;
    }

    restaurant-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .detail__menu-items {
        gap: 0 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    restaurant-list {
        gap: 2rem;
    }
}
